@charset "utf-8";
/* CSS Document */


body,td,th,p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 1em;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img {
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: rgb(194, 194, 194);
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* ====================== Navigation ====================== */
header {
  background-color: #252831;
  text-align:center;

}
header h1 {
  margin: auto;
  padding: 1rem;
  overflow: hidden;
}
header h1 a {
  color: #fff;
  font-size: 1.3em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 12px 40px 14px;
    list-style: none;
    background-color: rgb(235, 235, 235);
    font-size: 1.2em;
    margin: 0;
    text-align: left;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0258d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01297e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 40vh;
  width: 100%;
  background-color: #ccc;
}

#map-container {
  width: 100%;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  background-color: rgb(51, 104, 219);
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  margin: 0 1.2em;
  padding-top: 1em;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1em;
  height: 48px;
  letter-spacing: 0;
  margin: 20px;
  margin-left: 1.2em; 
  padding: 0 10px;
  width: 200px;
}

#filter-container {
  width: 100%;
}

#menu {
  display: inline-block;
  position: relative;
  margin-top: 1.3em;
  margin-left: 1.3em;
  display: none;

}
#menu svg {
  width: 36px;
  fill: #333;
  padding-top: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0 1em 2em;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  /*border: 2px solid #ccc; old style*/
  font-family: Arial,sans-serif;
  margin: 1em auto 1em auto;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: center;
  width: 270px;
  /*material design box shadow*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h3 {
  color: rgb(221, 41, 0);
  font-family: Arial,sans-serif;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  text-align: left;
}
#restaurants-list p {
  margin: 0;
  font-size: 1em;
}
#restaurants-list li a {
  background-color: rgb(221, 41, 0);
  border-bottom: 3px solid #eee;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 1em;
  margin: 15px 0 0;
  padding: 10px 30px 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:focus {
  text-decoration: underline;
}

#restaurants-container {
  width:100%;
}

.rest-neighborhood {
  font-weight: bold;
  padding-top: 1em;
}

.fav-button{
  color: #cca300;
  float: right;
  border: none;
  min-height: 48px;
  min-width: 48px;
  font-size: 2em;
  background-color: #ffffff;
}

.fav-button:hover{
background-color: #ff441a;
}

.fav-yes{
  color: #cca300;
}
.fav-no{
  color: #333;
}


/* ====================== Restaurant Details ====================== */
.inside header {
  position: relative;

}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 50vh;
  position: relative;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  position: relative;
}
#restaurant-name {
  color: #f14c00;
  font-family: Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 1.2em;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container, #map-container, #reviews-form-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
}

#reviews-container h2, #reviews-form-container h2 {
  color: #f14c00;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  margin-top: 1em;
}

#reviews-form-container h2{
  margin-left: 2rem;
}

#reviews-container h2{
  text-align: center;
}

#reviews-list{
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 1em 1em 0em 1em;
  position: relative;
  width: 85%;
  max-width: 500px;
  /*material design box shadow*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
}
#reviews-list li p {
  margin: 0 0 10px;
  font-size: 1em;
}
#restaurant-hours td {
  color: #666;
}
.filter-options select:focus {
  background-color: rgb(93, 217, 255);
}

#details-container {
  width: 100%;
}

#restaurant-details {
  padding: 1em;
}

.rev-name {
  display: inline-block;
}

.rev-date {
  display: inline-block;
  float: right;
}

.form{
  width: 85%;
  margin-left: 2rem;
}

.form-label{
  width: 100%;
  font-size: 1.2em;
  color: #333;
}

.form-author, .form-rating, .form-comment{
  width: 100%;
  padding: 1em;
}

.form-submit-btn{
    margin-bottom: 2em;
    margin-top: 2em;
    min-width: 48px;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    padding-left: 1.8em;
    padding-right: 1.8em;
}

#reviews-form-container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
/* ====================== Skip-Link ====================== */

.skip-link {
  position: absolute;
  left: -300px;
  top: 0;
  margin-left: 2em;
}
.skip-link:focus {
  position: relative;
  left: 0;
}

/* ====================== Media Query Breakpoints ====================== */
@media screen and (max-width:450px) {
  header h1 {
    font-size: 1.15em;
  }
}

@media screen and (max-width:550px) {
  #map {
    height: 60vh;
  }

  /*off-canvas filter*/
  .filter-options {
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Drawer animation */
    transition: transform 0.3s ease;
    display:none;
  }
  .filter-options.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    display:block;
  }
  #menu {
    display: block;
  }

}

@media screen and (min-width:650px) {
  .filter-options h2 {
    display: inline-block;
  }
}

@media screen and (max-width:850px) {
  #restaurant-container, #restaurant-cuisine, #restaurant-hours{
    text-align: center;
    margin:auto;
  }
  #restaurant-img, #restaurant-cuisine {
    max-width: 450px;
  }
}

@media screen and (min-width:551px) and (max-width:850px) {
  #map {
    height: 50vh;
  }
  #restaurants-list {
    padding: 1.2em 1em 3em
  }
}
@media screen and (min-width:851px) {
  #restaurant-container {
    width: 50%;
    order: -1;
  }
  .inside #map-container {
    width: 50%;
    height: 78vh;
  }
  #restaurant-img, #restaurant-cuisine {
    max-width: 450px;
  }
  #restaurants-list {
    padding: 1.4em 1em 3em
  }
}

@media screen and (min-width:1101px) {
  #reviews-container{
    width: 60%;
  }

  #reviews-form-container{
    width: 40%;
  }
}

@media screen and (min-width:1301px) {
  #restaurant-container {
    width: 40%;
  }
  .inside #map-container {
    width: 60%;
  }

  #reviews-container{
    width: 70%;
  }

  #reviews-form-container{
    width: 30%;
  }
}

@media screen and (min-width:1701px) {
  #restaurant-container {
    width: 30%;
  }
  .inside #map-container {
    width: 70%;
  }
}
