@charset "utf-8";
/* CSS Document */


body,td,th,p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 1em;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img {
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: rgb(194, 194, 194);
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* ====================== Navigation ====================== */
header {
  background-color: #252831;
  text-align:center;

}
header h1 {
  margin: auto;
  padding: 1rem;
  overflow: hidden;
}
header h1 a {
  color: #fff;
  font-size: 1.3em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* ====================== Map ====================== */
#map {
  height: 40vh;
  width: 100%;
  background-color: #ccc;
}

#map-container {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  background-color: rgb(51, 104, 219);
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  margin: 0 1.2em;
  padding-top: 1em;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1em;
  height: 48px;
  letter-spacing: 0;
  margin: 20px;
  margin-left: 1.2em; 
  padding: 0 10px;
  width: 200px;
}

#filter-container {
  width: 100%;
}

#menu {
  display: inline-block;
  position: relative;
  margin-top: 1.3em;
  margin-left: 1.3em;
  display: none;

}
#menu svg {
  width: 36px;
  fill: #333;
  padding-top: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.filter-options select:focus {
  background-color: rgb(93, 217, 255);
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0 1em 2em;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  /*border: 2px solid #ccc; old style*/
  font-family: Arial,sans-serif;
  margin: 1em auto 1em auto;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: center;
  width: 270px;
  /*material design box shadow*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h3 {
  color: rgb(221, 41, 0);
  font-family: Arial,sans-serif;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  text-align: left;
}
#restaurants-list p {
  margin: 0;
  font-size: 1em;
}
#restaurants-list li a {
  background-color: rgb(221, 41, 0);
  border-bottom: 3px solid #eee;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 1em;
  margin: 15px 0 0;
  padding: 10px 30px 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:focus {
  text-decoration: underline;
}

#restaurants-container {
  width:100%;
}

.rest-neighborhood {
  font-weight: bold;
  padding-top: 1em;
}

.fav-button{
  color: #cca300;
  float: right;
  border: none;
  min-height: 48px;
  min-width: 48px;
  font-size: 2em;
  background-color: #ffffff;
}

.fav-button:hover{
background-color: #ff441a;
}

.fav-yes{
  color: #cca300;
}
.fav-no{
  color: #333;
}


/* ====================== Skip-Link ====================== */

.skip-link {
  position: absolute;
  left: -300px;
  top: 0;
  margin-left: 2em;
}
.skip-link:focus {
  position: relative;
  left: 0;
}

/* ====================== Media Query Breakpoints ====================== */
@media screen and (max-width:450px) {
  header h1 {
    font-size: 1.15em;
  }
}

@media screen and (max-width:550px) {
  #map {
    height: 60vh;
  }

  /*off-canvas filter*/
  .filter-options {
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Drawer animation */
    transition: transform 0.3s ease;
    display:none;
  }
  .filter-options.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    display:block;
  }
  #menu {
    display: block;
  }

}

/* ====================== Media Query Breakpoints --- max-width < 550px ====================== */

@media screen and (max-width:450px) {
  header h1 {
    font-size: 1.15em;
  }
}

@media screen and (max-width:550px) {
  #map {
    height: 60vh;
  }

  /*off-canvas filter*/
  .filter-options {
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Drawer animation */
    transition: transform 0.3s ease;
    display:none;
  }
  .filter-options.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    display:block;
  }
  #menu {
    display: block;
  }

}
